<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
	<Appenders>
    	<RollingFile name="main" 
					 fileName="/opt/logs/${project.build.finalName}/${project.build.finalName}.log" 
    				 filePattern="/opt/logs/${project.build.finalName}/${project.build.finalName}.log.%d{yyyy-MM-dd}">
      		<PatternLayout>
          		<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        	</PatternLayout>
        	<Policies>
          		<TimeBasedTriggeringPolicy />
        	</Policies>
    	</RollingFile>
    	<RollingRandomAccessFile name="report"
								 fileName="/opt/logs/${project.build.finalName}/${project.build.finalName}.report.log" 
           						 filePattern="/opt/logs/${project.build.finalName}/${project.build.finalName}.report.log.%d{yyyy-MM-dd}">
    		<PatternLayout>
				<Pattern>%m%n</Pattern>
			</PatternLayout>
	        <Policies>
    	  		<SizeBasedTriggeringPolicy size="1 GB" />
	        </Policies>
        	<DefaultRolloverStrategy max="9" />
  		</RollingRandomAccessFile>
		<Async name="async_main">
			<AppenderRef ref="main"/>
	    </Async>
	    <Async name="async_report" bufferSize="20000">
	        <AppenderRef ref="report"/>
	    </Async>
  	</Appenders>
  	<Loggers>
    	<Root level="info" includeLocation="false">
        	<AppenderRef ref="async_main"/>
    	</Root>
    	<Logger name="KEY_LOGGER" level="info" includeLocation="false" additivity="false">
        	<AppenderRef ref="async_report"/>
    	</Logger>
	</Loggers>
</Configuration>