<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Layout</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container-fluid">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="http://bakon.cn">
					Bakon - 白光科技 </a>
				<ul class="nav">
					<li><a th:href="@{/monitor}"> 监控 </a></li>
					<li><a th:href="@{/designer}"> 设计 </a></li>
					<li><a th:href="@{/report}"> 报表 </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div>
</body>
</html>
